@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container1 {
    height: 100vh;
    width: 100vw;
    background-color: #1E1D1D;
}

.header {
    width: 100%;
    height:8%;
}

.navbar {

    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    padding-right: 15%;
    background-color: #e5e5e5;
}

.navbar a {
    text-decoration: none;
    color: #1E1D1D;
    padding: 1%;
    font-size: large;
    font-weight:lighter;
}

.descricao {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: left;
    margin-left: 10%;

}

.descricao h1, p {
    color: #e5e5e5;
}

